html,
body {
    margin: 0px;
    padding: 0px;
}

#main {
    margin-left: 10px;
}

#home-icon {
    position: relative;
    top: 3px;
    margin-right: 10px;
    filter: invert(1);
}

nav {
    background-color: aliceblue;
    margin-bottom: 10px;
    padding: 10px;
}

table,
tr,
th,
td {
    border-radius: 3px;
}

th {
    background-color: aliceblue;
    border: 1px solid grey;
    padding-left: 10px;
    padding-right: 10px;
}

td {
    border: 1px solid aliceblue;
}

#subfield {
    border: 1px solid black;
    margin-top: 10px;
    width: 150px;
}

input[type=text] {
    display: block;
    clear: both;
}

img#student-image {
    border: 1px solid black;
    width: 50px;
}

section {
    float: left;
    border: 1px grey solid;
    padding: 10px;
    margin: 20px;
}

#student-details {
    color: white;
    position: relative;
    top: -25px;
    left: 5px;
    text-shadow: 2px 2px #000000;
    ;
}
